<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Amaze UI Admin index Examples</title>
  <meta name="description" content="这是一个 index 页面">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <!-- css文件 -->
  {include file="public/title" /}
</head>

<body data-type="generalComponents">
  <!-- 头部 -->
  {include file="public/header" /}
  <div class="tpl-page-container tpl-page-header-fixed">
    <!-- 左侧导航 -->
    {include file="public/leftNav" /}
    <div class="tpl-content-wrapper">
      <ol class="am-breadcrumb">
        <li><a href="#" class="am-icon-home">首页</a></li>
        <li><a href="#">管理员管理</a></li>
        <li class="am-active">管理员添加</li>
      </ol>
      <div class="tpl-portlet-components">
        <div class="tpl-block">
          <div class="am-g tpl-amazeui-form">
            <div class="am-u-sm-12 am-u-md-9">
              <form class="am-form am-form-horizontal" method="post" action="">
                <div class="am-form-group">
                  <label for="user-mima" class="am-u-sm-3 am-form-label">所属用户组</label>
                  <div class="am-u-sm-9">
                    <select name="group_id" data-am-selected="{searchBox: 1}" >
                      {volist name="authGroup" id="vo"}
                        <option value="{$vo.id}">{$vo.title}</option>
                      {/volist}
                    </select>
                  </div>
                </div>
                <div class="am-form-group">
                  <label for="user-name" class="am-u-sm-3 am-form-label">姓名 / Name</label>
                  <div class="am-u-sm-9">
                    <input type="text" name="user" required oninvalid="setCustomValidity('请输入您的姓名');" oninput="setCustomValidity('');" id="user-name" placeholder="姓名 / Name">
                    <small>输入你的名字，让我们记住你。</small>
                  </div>
                </div>
                <div class="am-form-group">
                  <label for="user-mima" class="am-u-sm-3 am-form-label">邮箱 / email</label>
                  <div class="am-u-sm-9">
                    <input type="email" name="email" required oninvalid="setCustomValidity('请输入邮箱');" oninput="setCustomValidity('');" id="user-mima" placeholder="输入您的邮箱 / email">
                  </div>
                </div>
                <div class="am-form-group">
                  <label for="user-mima" class="am-u-sm-3 am-form-label">密码 / password</label>
                  <div class="am-u-sm-9">
                    <input type="password" name="password" required oninvalid="setCustomValidity('请输入您的密码');" oninput="setCustomValidity('');" id="user-mima" placeholder="输入你的密码 / password">
                  </div>
                </div>
                <div class="am-form-group">
                  <label for="user-mima" class="am-u-sm-3 am-form-label">确认密码 / password</label>
                  <div class="am-u-sm-9">
                    <input type="password" name="repassword" required oninvalid="setCustomValidity('请输入确认密码');" oninput="setCustomValidity('');" id="user-mima" placeholder="输入你的密码 / password">
                  </div>
                </div>
                <div class="am-form-group">
                  <div class="am-u-sm-9 am-u-sm-push-3">
                    <button type="submit" class="am-btn am-btn-primary">添加</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- js -->
  {include file="public/foot" /}
</body>
</html>