<link rel="icon" type="image/png" href="__ADMIN__/assets/i/favicon.png">
<link rel="apple-touch-icon-precomposed" href="__ADMIN__/assets/i/app-icon72x72@2x.png">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="stylesheet" href="__ADMIN__/assets/css/amazeui.min.css" />
<link rel="stylesheet" href="__ADMIN__/assets/css/admin.css">
<link rel="stylesheet" href="__ADMIN__/assets/css/app.css">
<link rel="stylesheet" href="__ADMIN__/assets/css/amazeui.switch.css">
<script src="__ADMIN__/assets/js/echarts.min.js"></script>
<!-- jquery -->
<script src="__STATIC__/common/jquery.min.js"></script>
<!-- layer 弹窗插件-->
<script src="__STATIC__/common/layer/layer.js"></script>