
<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Amaze UI Admin index Examples</title>
  <meta name="description" content="这是一个 index 页面">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <!-- css文件 -->
  {include file="public/title" /}
</head>

<body data-type="generalComponents">
  <!-- 头部 -->
  {include file="public/header" /}
  <div class="tpl-page-container tpl-page-header-fixed">
    <!-- 左侧导航 -->
    {include file="public/leftNav" /}
    <div class="tpl-content-wrapper">
      <ol class="am-breadcrumb">
        <li><a href="#" class="am-icon-home">首页</a></li>
        <li><a href="#">系统</a></li>
        <li class="am-active">配置添加</li>
      </ol>
      <div class="tpl-portlet-components">
        <div class="tpl-block">
          <div class="am-g tpl-amazeui-form">
            <div class="am-u-sm-12 am-u-md-9">
              <form class="am-form am-form-horizontal" method="post" action="">
                <input type="hidden" name="id" value="{$conf.id}">
                <div class="am-form-group">
                  <label for="user-name" class="am-u-sm-3 am-form-label">中文名称</label>
                  <div class="am-u-sm-9">
                    <input type="text" name="cnname" required oninvalid="setCustomValidity('请您输入中文名称');" oninput="setCustomValidity('');" id="user-name" value="{$conf.cnname}">
                  </div>
                </div>
                <div class="am-form-group">
                  <label for="user-mima" class="am-u-sm-3 am-form-label">英文名称</label>
                  <div class="am-u-sm-9">
                    <input type="text" name="enname" required oninvalid="setCustomValidity('请您输入英文名称');" oninput="setCustomValidity('');" id="user-mima" value="{$conf.enname}">
                  </div>
                </div>
                <div class="am-form-group">
                  <label for="user-mima" class="am-u-sm-3 am-form-label">配置类型</label>
                  <div class="am-u-sm-9">
                    <select disabled name="type" data-am-selected="{searchBox: 1}" >
                      <option value="1" {if condition="$conf['type'] eq 1"}selected{/if}>-文本框</option>
                      <option value="2" {if condition="$conf['type'] eq 2"}selected{/if}>-文本域</option>
                      <option value="3" {if condition="$conf['type'] eq 3"}selected{/if}>-单选按钮</option>
                      <option value="4" {if condition="$conf['type'] eq 4"}selected{/if}>-复选按钮</option>
                      <option value="5" {if condition="$conf['type'] eq 5"}selected{/if}>-下拉菜单</option>
                    </select>
                  </div>
                </div>
                <div class="am-form-group">
                  <label for="user-intro" class="am-u-sm-3 am-form-label">可选值</label>
                  <div class="am-u-sm-9">
                    <textarea name="values" rows="10" id="user-intro">{$conf.values}</textarea>
                  </div>
                </div>
                <div class="am-form-group">
                  <div class="am-u-sm-9 am-u-sm-push-3">
                    <button type="submit" class="am-btn am-btn-primary">修改</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- js -->
  {include file="public/foot" /}
</body>
</html>