<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Amaze UI Admin index Examples</title>
  <meta name="description" content="这是一个 index 页面">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <!-- css文件 -->
  {include file="public/title" /}
</head>

<body data-type="generalComponents">
  <!-- 头部 -->
  {include file="public/header" /}
  <div class="tpl-page-container tpl-page-header-fixed">
    <!-- 左侧导航 -->
    {include file="public/leftNav" /}
    <div class="tpl-content-wrapper">
      <ol class="am-breadcrumb">
        <li><a href="#" class="am-icon-home">首页</a></li>
        <li><a href="#">友情链接</a></li>
        <li class="am-active">链接添加</li>
      </ol>
      <div class="tpl-portlet-components">
        <div class="tpl-block">
          <div class="am-g tpl-amazeui-form">
            <div class="am-u-sm-12 am-u-md-9">
              <form class="am-form am-form-horizontal" method="post" action="">
                <input type="hidden" name="id" value="{$link.id}">
                <div class="am-form-group">
                  <label for="user-name" class="am-u-sm-3 am-form-label">链接名称</label>
                  <div class="am-u-sm-9">
                    <input type="text" name="title" required oninvalid="setCustomValidity('请您输入链接名称');" oninput="setCustomValidity('');" id="user-name" value="{$link.title}">
                  </div>
                </div>
                <div class="am-form-group">
                  <label for="user-mima" class="am-u-sm-3 am-form-label">链接地址</label>
                  <div class="am-u-sm-9">
                    <input type="text" name="url" required oninvalid="setCustomValidity('请您输入链接地址');" oninput="setCustomValidity('');" id="user-mima" value="{$link.url}">
                  </div>
                </div>
                <div class="am-form-group">
                    <label for="user-intro" class="am-u-sm-3 am-form-label">文章描述</label>
                    <div class="am-u-sm-9">
                      <textarea class="" name="desc" rows="10" id="user-intro">{$link.desc}</textarea>
                    </div>
                  </div>
                <div class="am-form-group">
                  <div class="am-u-sm-9 am-u-sm-push-3">
                    <button type="submit" class="am-btn am-btn-primary">添加</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- js -->
  {include file="public/foot" /}
</body>
</html>